@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-navy-900: #0F172A;
  --color-navy-800: #1E293B;
  --color-navy-700: #334155;
  
  --color-amethyst-500: #A855F7;
  --color-amethyst-600: #9333EA;
  --color-amethyst-400: #C084FC;
  
  --color-emerald-500: #10B981;
  --color-emerald-400: #34D399;
  
  --color-rose-500: #F43F5E;
}

body {
  @apply bg-navy-900 text-slate-200 font-sans antialiased;
}
